In [5]:
from city_road_network.processing.zones import main
from city_road_network.utils.map import draw_zones

In [6]:
city_name = "saint_petersburg"
nodes, zones = main(city_name)

[2023-05-08 17:32:51,938][INFO] Total number of vehicles 1829774.7729917967
[2023-05-08 17:32:51,939][INFO] Total production before 411699.32392315427
[2023-05-08 17:32:51,940][INFO] Total attraction before 545864.2866666664
[2023-05-08 17:32:51,941][INFO] Total production after 411699.32392315427
[2023-05-08 17:32:51,941][INFO] Total attraction after 411699.3239231543

/home/nikita/Projects/city_road_network/city_road_network/processing/zones.py:69: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones_gdf["centroid"] = zones_gdf.centroid

[2023-05-08 17:32:52,319][INFO] Saved dataframe to /home/nikita/Projects/city_road_network/data/saint_petersburg/nodelist_upd.csv
[2023-05-08 17:32:52,346][INFO] Saved dataframe to /home/nikita/Projects/city_road_network/data/saint_petersburg/zones_upd.csv

In [7]:
nodes

,id,y,x,street_count,lat,lon,geometry,highway,name,ref,zones
0,219808,59.895094,30.331422,3,59.895094,30.331422,POINT (30.33142 59.89509),NaN,NaN,NaN,[6]
1,219811,59.899301,30.337475,3,59.899301,30.337475,POINT (30.33748 59.89930),NaN,NaN,NaN,[6]
2,219812,59.901731,30.339552,4,59.901731,30.339552,POINT (30.33955 59.90173),traffic_signals,NaN,NaN,[6]
3,219816,59.909809,30.346880,4,59.909809,30.346880,POINT (30.34688 59.90981),traffic_signals,NaN,NaN,[91]
4,219818,59.912044,30.348371,4,59.912044,30.348371,POINT (30.34837 59.91204),traffic_signals,NaN,NaN,[91]
...,...,...,...,...,...,...,...,...,...,...,...
23927,10210515017,59.990589,29.760936,4,59.990589,29.760936,POINT (29.76094 59.99059),NaN,NaN,NaN,[80]
23928,10679243571,59.992862,29.753187,1,59.992862,29.753187,POINT (29.75319 59.99286),NaN,NaN,NaN,[80]
23929,10780584359,60.193072,29.721853,1,60.193072,29.721853,POINT (29.72185 60.19307),NaN,NaN,NaN,[38]
23930,10815281871,60.084049,29.952072,3,60.084049,29.952072,POINT (29.95207 60.08405),NaN,NaN,NaN,[31]
23931,10829499802,60.190136,29.722141,3,60.190136,29.722141,POINT (29.72214 60.19014),NaN,NaN,NaN,[38]

In [8]:
zones_map = draw_zones(zones, save=True, city_name=city_name, filename="zones_upd.html")

[2023-05-08 17:32:52,998][INFO] Saved file /home/nikita/Projects/city_road_network/htmls/saint_petersburg/zones_upd.html